h1  {
  text-align: center;
}

.board  {
  width: 40em;
  height: 40em;
  float: none;
  margin: 0px auto;
}

td  {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

.torpedoShot  {
  background-color: #23b7d1;
  opacity: .5;
}

.torpedohit  {
  background-color: maroon;
  opacity: .7;
}
/*This was put below TorpedoShot because cascading order prevented this from taking precendent*/

.blank  {
  background-color: white;
}

.dataRow  {
  margin-top: 3em;
}

.ship1Surround, .ship2Surround, .ship3Surround, .ship4Surround, .ship5Surround {
  background-color: black;
}


.shipHere1 {
  background-color: green;
}
.shipHere2 {
  background-color: blue;
}
.shipHere3  {
  background-color: grey;
}
.shipHere4  {
  background-color: purple;
}
.shipHere5  {
  background-color: red;
}
