body {
  /*background-color: #d3d3d3;*/
  background-image: url("battleship.jpg");
  background-repeat: no-repeat;
}

h1  {
  text-align: center;
  margin-top: 0.75em;
}

.board  {
  width: 40em;
  height: 40em;
  float: none;
  margin: 0px auto;
  box-shadow: 10px 10px 5px #888888;
}

.col-sm-12 {
  text-align: center;
}

td  {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: #23b7d1;
  opacity: .5;
}

div.row.dataRow {
  margin-top: 1em;
}
.torpedoShot  {
  background-color: grey;
  opacity: .5;
}

.torpedohit  {
  background-color: maroon;
  opacity: .7;
}
/*This was put below TorpedoShot because cascading order prevented this from taking precendent*/

.dataRow  {
  margin-top: 3em;
}

.torpedoesUsed, .shipsRemaining {
  color: #d3d3d3;
  opacity: .5;
}
input {
  color: #d3d3d3;
  opacity: .5;
  color: black;
}
